body {
  background-color: whitesmoke !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#gif-content {
  max-width: 100% !important;
  padding: 0px !important;
}

/* input Css */

.searchbar {
  display: flex;
  margin: 20px auto;
  width: 50%;
}

#searchTerm {
  width: 80% !important;
}

.btn-success {
  width: 20% !important;
  margin-top: 0px !important;
  padding: 6px 12px;
  line-height: 1.2;
}
#select-filter {
  width: 200px;
  margin: 20px auto;
}

#gifs-view {
  overflow-y: hidden !important;
  height: 100% !important;
}
